/* fonts start */

@font-face {
    font-family: 'canela';
    src: url('fonts/CanelaText-Regular-Trial.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* headlines,quotes, titles, logo, editorial text */
.canela {
    font-family: 'canela';
}

@font-face {
    font-family: 'canela italic';
    src: url('fonts/CanelaText-RegularItalic-Trial.otf') format('opentype');
}

/* small accents, signatures, emphasis, occasional highlights */
.canela-italic {
    font-family: 'canela italic';
}

@font-face {
    font-family: 'montserrat';
    src: url('fonts/Montserrat-Light.ttf') format('truetype');
}


/* body, text, captions, navigation, buttons, description */
.montserrat {
    font-family: 'montserrat';
}

/* fonts end */

/* colors start */
.ivory-veil {
    color: #F7F3EE;
}

.warm-sand {
    color: #EBDED2;
}

.stone-taupe {
    color: #C6B8A8;
}

.soft-charcoal {
    color: #2B282B;
}

.antique-gold {
    color: #A8894F;
}

.red-crimson {
    color: #6E1F28;
}
/* colors end */

/* navbar index start */

.inq-btn {
    background-color: #6E1F28;
    width: fit-content;
    padding: 1.5%;
}

.nav-link {
    color: #F7F3EE;
}
/* navbar index end */

/* body index start */
body.index-body {
    background-color: #EBDED2;
}
/* body index end */